/* common shared styles */
body {
    font-family: 'Open Sans', sans-serif;
}

.orange-text {
    color: #fd6e0a;
}

.button-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
    margin-right: 30px;
}

/* nav related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 150px;

}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

.header {
    background: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 50px 50px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .profile-pic {
    width: 500px;
}

.banner-content {
    max-width: 500px;
}

.banner-greeting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
    color: #181818;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-description {
    margin-bottom: 30px;
}

/* main section styles*/
/* about section styles*/
main {
    max-width: 1150px;
    margin: 0 auto;
}

.about {
    border-radius: 10px;
    background: #FFF8F3;
    text-align: center;
    padding: 130px;
    margin: 130px 0px;
}

.section-title {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: #757575;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 30px;

    /* display: flex;
    width: 827px;
    flex-direction: column;
    flex-shrink: 0; */
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    /* margin-right: 50px; */
}

.info-title {
    color: #474747;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.info-description {
    color: #424141;
    font-size: 20px;
    font-weight: 700;
}

#what-i-do-description {
    padding: 30px 150px 50px;
}

.skill-container {
    display: flex;
    justify-content: space-around;

}

.skill {
    padding: 30px;
    margin-right: 25px;
    border: 250px;
    box-shadow: 5px 5px 20px #c9c5c5;
}

.skill-title {
    margin-top: 40px;
    margin-bottom: 20px;
    color: #181818;
    /* text-align: center; */
    font-size: 20px;
    font-weight: 700;
}

.skill-description {
    width: 220px;
    height: 150px;
    padding: 20px 0px 30px;
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}